.flex-container {
    display: flex;
    flex-direction: column;
    height: 200vh;
    align-content: center;
}


img {
    object-fit: cover;

}

a {
    text-align: right;
    display: block;
}



.item-one {
    flex: 1;
    display: flex;
    background-color: #1f2937;
    height: 500vh;
}





.item-two {

    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;

}

#title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}


.section1,
.section2,
.section3,
.section4 {
    display: flex;
    padding: 20px;
    margin: 80px;
    height: auto;



    border-style: inset;
    border-color: blue;
}



.item-three {
    flex: 1;
    display: flex;
    background-color: #e5e7ed;
    text-align: center;
    height: 500vb;
}

.item-four {
    flex: 1;
    display: flex;
    background: white;
    height: 500vb;
}